# Make sure to install those as additional_dependencies in the
# pre-commit hooks for pylint & mypy
certifi
# only telegram.ext: # Keep this line here; used in setup(-raw).py
tornado>=6.1
APScheduler==3.6.3
pytz>=2018.6
cachetools==4.2.2
python-telegram-bot~=20.5
firebase_admin==5.2.0
tenacity==8.0.1
typing-extensions==4.0.1
bs4==0.0.1
feedparser==6.0.10
supabase==2.6.0